/* ========== GLOBAL STYLES ========== */
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 250px;
  width: 100%;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

/* ========== HEADER ========== */
.top-container {
  background-color: #1F2937;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  text-align: center;
}

.nav {
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
}

li a,
.subtext {
  color: #babcc0;
  font-size: 18px;
}

/* ========== HERO SECTION ========== */
.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: 50%;
}

.hero {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

/* ========== INFO SECTION ========== */
.info-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.info img {
  border-color: #3882f6;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  height: auto;
  max-width: 200px;
}

.text {
  font-size: 16px;
  margin-top: 10px;
  max-width: 200px;
}

/* ========== QUOTE SECTION ========== */
.quote-container {
  background-color: #e5e7eb;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  padding: 80px 130px;
}

.quote-container div:last-child {
  font-size: 20px;
  font-weight: 1000;
  text-align: right;
}

/* ========== SIGN-UP SECTION ========== */
.sign-up {
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  gap: 80px;
  margin: 50px 100px;
  padding: 40px 80px;
}

.sign-up button {
  border-style: solid;
  padding: 5px 25px;
}

.signup-text {
  color: #F9FAF8;
  font-weight: lighter;
}

.signup-text div:first-child {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 1000;
}

/* ========== BUTTON ========== */
.button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  max-width: 20%;
  padding: 5px 14px;
}

/* ========== CONTAINER UTILS ========== */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #1F2937;
  color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 100%;
}