body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.top-container, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 100px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.hero{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

img{
    width: 100%;
    height: auto;
    max-width: 250px;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    gap: 10px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 80px;
}

.quote-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 80px 130px;
}

.quote-container div:last-child{
    font-size: 20px;
    font-weight: 1000;
    text-align: right;
}

.info img{
    height: auto;
    max-width: 200px;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: #3882f6;
}

.text{
    font-size: 16px;
    max-width: 200px;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up, .button{
    background-color: #3882f6;
    border-radius: 5px;
}


.button{
    max-width: 20%;
    border: none;
    color: white;
    padding: 5px 14px;
    font-weight: 500;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

a{
    text-decoration: none;
}

.subtext, li a {
    color: #babcc0;
    font-size: 18px;
}


.logo{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.signup-text div:first-child{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 1000;

}

.sign-up{
    padding: 40px 80px;
    margin: 50px 100px;
    display: flex;
    gap: 80px;
}

.sign-up button{
    border-style: solid;
    padding: 5px 25px;
}
.signup-text{
    color: #F9FAF8;
    font-weight: lighter;
}

.footer{
    background-color: #1F2937;
    width: 100%;
    color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}